@import "tailwindcss";
/* @import "tailwindcss" prefix(tw); */

@plugin "flowbite/plugin";
@theme {
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-poppins);
  --color-orange-100: #f26822;
  --color-white-100: #ffffff;
  --color-black-100: #292930;
  --color-black-200: #575350;
}

@layer components {
  .button-custom-nav {
    @apply cursor-pointer relative;
  }

  .button-custom-nav::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: var(--underline-color, white); /* Dynamic color */
    transition: width 0.3s ease-in-out;
  }

  .button-custom-nav:hover::after {
    width: 100%;
  }

  .li-custom-nav {
    @apply cursor-pointer relative;
  }
  .li-custom-nav::after {
    @apply content-[''] absolute w-0 h-[3px] bottom-[-3px] left-0 bg-[var(--color-orange-100)] transition-[width] duration-300 ease-in-out;
  }
  .li-custom-nav:hover::after {
    @apply w-full;
  }

  h1 {
    @apply text-[29px] xl:text-[58px] font-normal leading-[50px] xl:leading-[58px];
  }

  p {
    @apply text-[16px] xl:text-[19px] font-normal leading-[35px];
  }

  p strong {
    @apply font-bold;
  }

  h2 {
    @apply font-bold  text-[16px] xl:text-[19px] leading-[35px] text-[var(--color-orange-100)];
  }
}

/* Add the following Tailwind styles in globals.css or a custom CSS file */
@layer utilities {
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  .animate-scroll {
    animation: scroll 15s linear infinite;
  }
}

/* Light theme variables */
:root {
  --background: #ffffff !important;
  --foreground: #292930 !important;
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-size: medium;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

/* emblaaaaaaa */
.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem #575350;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
  background: #575350;
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem #f26822;
  background: #f26822;
}
